:root {
    --branco-principal: #F8F9FA;
    --cinza-secundario: #9CA3AF;
    --botao-verde: #2EB872;
    --cor-de-fundo: #1C1C1E;
    --fonte-principal: 'Inter';
    --botao-verde-efeito: #35D07F;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-verde);
    border-radius: 8px;
    padding: 1.2em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1.5em;
    transition: background-color 0.3s;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 14px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 32px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2.5em 0;
}

.container__caixa {
    margin: 0 5em;
}

.secundario__imagem {
    width: 75%;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2.5em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 6em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 42px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 28px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1.5em;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1.5em;
    transition: color 0.3s;
}

